body {
    background-color: #EBECF0;
    font-size: large;
}

#image {
  width: 100%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: block;
  object-fit: cover;
}

#kundene {
  font-size: 12px;
  width: auto;
  margin-right: auto;
  align-content: center;
  table-layout: fixed;
  border-collapse: collapse;
  overflow-x: auto;
}

#homeContainer {
    box-shadow: 2px 2px rgb(223, 223, 223);
    max-width: 1600px;
    margin: 0 auto;
    padding: 10px 2em;
}

.header {
    position: relative;
}

.kjopButtonBox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonKjop {
    font-size: x-large;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    color: black;
    opacity: 0.8;
}

#buttonKjop:hover {
    background-color: rgb(33, 33, 33);
    color: white;
}

#statement h2{
    font-family: cursive;
    text-align: center;
}
#lagreBody {
    background-color: #F7F4F4;
}
.container {
    top:10px;
    max-width: 1600px;
    max-height: 1000px;
   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}
.col-md-12{
    margin-left: 150px
}